<div class="profile-edit"></div>
<div class="edit-box">
    <h3>Wow, tell us more about yourself:</h3>

    <form method="POST"><ul>
        {{#users}}
            <li>First Name
                <input
                    type="text"
                    name="firstName"
                    value={{first_name}}
                /></li>
            <li>Last Name
                <input
                    type="text"
                    name="lastName"
                    value={{last_name}}
                /></li>
            <li>Email
                <input type="email" name="email" value={{email}} /></li>
            <li>Password
                <input
                    type="text"
                    name="password"
                    placeholder="password"
                /></li>
            <li>Age <input type="number" name="age" value={{age}} /></li>
            <li>City <input type="text" name="city" value={{city}} /></li>
            <li>Facebook Link
                <input
                    type="url"
                    name="facebookLink"
                    placeholder="your Facebook link"
                    pattern="^https?://.*"
                /></li></ul>
        {{/users}}
        <button id="submit">Update</button>
    </form>
    <a href="/profile">Cancel</a>
    
</div>


