<div class="profile"></div>

<div class="profile-box">
    <h3> Your Profile:</h3>
    <h4> Maybe ,  you would like to tell us more about yourself ?</h4>
    {{#users}}
        <ul>
            <li>First Name: {{first_name}}</li>
            <li>Last Name: {{last_name}}</li>
            <li>Email: {{email}}</li>
            <li>Age: {{age}}</li>
            <li>City: {{city}}</li>
            <li>Facebook Link: <a href{{facebook_link}}=>{{facebook_link}}</li>
        </ul>
        <img src="{{signature}}" alt="signature" width="400px" height="150px" />
    {{/users}}</div>

<div class="profile-links">
    <a href="/profile/edit"> ðŸ”µ To Update your Profile >></a>
    <a href="/list"> â™¦ï¸ To See all Singers >></a>
    </div>
    

